
<div id="navbar" class="hidden-sm hidden-xs col-xs-2 col-md-2">
  {% for option in options %}
    <a href="{{option.title}}">
    <div class="option">
      <h4 class="titre">{{option.title}}</h4>
      <ul class='categorie'>
      {% for cat in option.type %}
        <li class='sous-categorie'><input class='checkbox' type='checkbox'/><div name='{{cat[0]}}'>{{cat[1]}}</div></li>
      {% endfor %}
      </ul>
      </div>
</a>
  {% endfor %}
</div>

<div id="navbar-responsive" class="dropdown visible-sm visible-xs col-xs-2 col-md-2">
  <a class="dropdown-title">Menu</a>
  {% for option in options %}
    <div class="option dropdown-menu">
      <h4 class="titre">{{option.title}}</h4>
      <ul class='categorie'>
      {% for cat in option.type %}
        <li class='sous-categorie'><input class='checkbox' type='checkbox'/><div name='{{cat[0]}}'>{{cat[1]}}</div></li>
      {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>